<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Trusted_Connection=True;Data Source=(local);Database=mongoSitecore_Core" />
  <add name="master" connectionString="Trusted_Connection=True;Data Source=(local);Database=mongoSitecore_Master" />
  <add name="web" connectionString="Trusted_Connection=True;Data Source=(local);Database=mongoSitecore_Web" />
  <add name="nosqlraven" connectionString="Url = http://localhost:8080; DefaultDatabase = Web" />
  <add name="nosqlmongoweb" connectionString="mongodb://localhost:27017/web" />
  <add name="nosqlmongotest" connectionString="mongodb://localhost:27017/test" />
  <add name="nosqlmongomaster" connectionString="mongodb://localhost:27017/master" />
  <add name="nosqlmongocore" connectionString="mongodb://localhost:27017/core" />
  <add name="nosqlserialization" connectionString="..\Data\serialization\master" />
</connectionStrings>